<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key><string>Mizu</string>
    <key>CFBundleDisplayName</key><string>Mizu</string>
    <key>CFBundleIdentifier</key><string>com.mdenizay.mizu</string>
    <key>CFBundleExecutable</key><string>Mizu</string>
    <key>CFBundleIconFile</key><string>AppIcon</string>
    <key>CFBundleDevelopmentRegion</key><string>en</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string><string>tr</string>
    </array>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>0.1.0</string>
    <key>CFBundleVersion</key><string>1</string>
    <key>LSMinimumSystemVersion</key><string>26.0</string>
    <key>LSApplicationCategoryType</key><string>public.app-category.productivity</string>
    <key>NSHighResolutionCapable</key><true/>
    <key>NSPrincipalClass</key><string>NSApplication</string>
    <key>NSSupportsAutomaticTermination</key><false/>
    <!-- What makes the system offer Mizu as a web browser. -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key><string>Web site URL</string>
            <key>CFBundleTypeRole</key><string>Viewer</string>
            <key>CFBundleURLSchemes</key>
            <array><string>http</string><string>https</string></array>
        </dict>
        <dict>
            <key>CFBundleURLName</key><string>Local file URL</string>
            <key>CFBundleTypeRole</key><string>Viewer</string>
            <key>CFBundleURLSchemes</key>
            <array><string>file</string></array>
        </dict>
    </array>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key><string>HTML document</string>
            <key>CFBundleTypeRole</key><string>Viewer</string>
            <key>LSHandlerRank</key><string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array><string>public.html</string><string>public.xhtml</string><string>public.svg-image</string><string>com.adobe.pdf</string></array>
        </dict>
    </array>
    <key>NSCameraUsageDescription</key><string>A web page you allowed wants to use the camera.</string>
    <key>NSMicrophoneUsageDescription</key><string>A web page you allowed wants to use the microphone.</string>
    <key>NSLocationUsageDescription</key><string>A web page you allowed wants to know your location.</string>
    <key>NSLocationWhenInUseUsageDescription</key><string>A web page you allowed wants to know your location.</string>
</dict>
</plist>
